/* custom fonts */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800;900&display=swap');

/* main styling */

* {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}
body {
  background: #fafafa;
}
a {
  text-decoration: none;
}
button {
  margin: 20px 0px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: 700;
  background: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 5px;
  border-color: #9359ff;
}
